@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
}
.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
}
}

@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }
    .heading1 {
        font-size: 3.7rem;
        line-height: 1;
    }
    .no-autofill {
        background-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer base {
    * {
    @apply border-border;
    }
    body {
    @apply bg-background text-foreground;
    }
}

@layer components { 
    .custom-scrollbar {
        height: 100vh;
        overflow: auto;
    }   
    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
        cursor: pointer;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: #ffffff;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #ef754c;
        border-radius: 50px;
    }
    .main-scrollbar {
        height: 100vh;
        overflow: auto;
    }
    .main-scrollbar::-webkit-scrollbar {
        height: 10vh;
        width: 8px;
        cursor: pointer;
    }
    .main-scrollbar::-webkit-scrollbar-track {
        background: #ffffff;
    }
    .main-scrollbar::-webkit-scrollbar-thumb {
        background: #ef754c;
        border-radius: 50px;
    }
}

@layer utilities {
    .account_card {
        @apply max-lg:mt-6 mt-2 px-4 bg-white shadow-md rounded-md flex items-center justify-between gap-5 py-3
    }
    .account_card_label {
        @apply max-lg:text-base text-lg text-stone-700 font-palanquin font-medium
    }
    .profile_container {
        @apply w-full mt-5 pl-10  flex flex-col items-start
    }
    .form_container {
        @apply flex max-lg:flex-col flex-1 items-center justify-between gap-6 mb-5
    }
    .btn {
        @apply w-full mt-8 rounded-full bg-gradient-to-r from-primary to-secondary px-8 py-2 text-white text-base
    }
    .filter {
        @apply bg-gradient-to-r from-primary to-secondary text-sm text-slate-100 font-palanquin rounded-full max-lg:px-5 px-7 py-2 mr-2 capitalize
    }
    /* .common-container {
        @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
    } */
    .tiny_line {
        @apply w-full mt-7 px-2 border border-gray-300
    }
}